@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<LoaiHang>
<div class="menu">
	<ul>
		<li class="active"><a href="index.html">Nguyễn Thị Thùy Dương</a></li>
		@foreach (var item in Model)
		{
			<li><a href="about.html" id="@item.MaLoai">@item.TenLoai</a></li>
		}
	</ul>
</div>