@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<LoaiHang>
<div class="menu">
	<ul>
		<li class="active"><a href="#">Nguyễn Thị Thùy Dương</a></li>
		@foreach (var item in Model)
		{
			<li id="@item.MaLoai"><a style="cursor: pointer">@item.TenLoai</a></li>
		}
	</ul>
</div>